<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>greatest of two number</h1>

    {% if x > y %}

        <p><b>{{x}}</b>is greater </p>
    {% else %}
        <p><b>{{y}}</b> is greater</p>

    {% endif %}

    <hr>
    <p>For lood control:</p>
    {% for x in data %}
        <p>{{x}}</p>
    {% endfor %}

</body>
</html>