{% extends 'base.html' %}
{% load static %}  


{% block 'main' %} 

<main id="main" class="about">
    
        <div class="container" >

            <div class="row g-0">


                <!--<div class="col-mb-25 my-5">
                    <h2 style="color: rgb(240, 233, 233);">About Fox-Fitness</h2>
                </div>-->
                <!--<div class="col-md-6 my-5 mx-auto">
              
                </div>

                    <div class="card mb-3" style="max-width: 1000px;">
                      <div class="row g-0">
                        <div class="col-md-6">
                          <img src="{% static 'assets/img/post5.jpg' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-6">
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                      </div>
                    </div>-->

                    <div class="card bg-dark text-white">
                      <img src="{% static 'assets/img/abt.jpg' %}" class="card-img" alt="...">
                      <div class="card-img-overlay">
                        <h1 class="card-title">About Us</h1><br><br>
                        <p class="card-text" style="font-size: 18px;font-family: 'Courier New', Courier, monospace;"> 
                          Our Fox-Fitness is a gym and health club membershipmanagement system.<br>
                          We are keeping records on members who is member of Fox-Fitness.their memberships,<br>
                          and have quick and easy communication between you and your members.<br>
                          Fox-Fitness also includes a booking system, schudling classes,<br>
                          Personal traniner for each our members, accounting,concessions and<br>
                          has a range of reportsthat help in the management of my Fitness Center</p>
                        <p class="card-text" style="font-size: 18px;font-family: 'Courier New', Courier, monospace;">
                          Trainers and instructors will use the software to manage their availability, <br>
                          check their schedules, and view member information.<br>
                          Fitness management softwares have a client facing portal, where members can log in,<br>
                          enroll in memberships, schedule new classes, and transact with the studio.</p>
                      </div>
                    </div>

                

            </div>
            

            
            

          

        </div>

    

   
</main><!-- End #main -->


{% endblock 'main' %} 