{% extends 'base.html' %}
{% load static %}  


{% block 'main' %} 

<main id="main" class="about">
    <!--<div class="about-leg">-->
        <div class="container" >
            <div class="row g-0">

            <div class="col-mb-25 my-5">
                <h2 style="color: rgb(240, 233, 233);">Fit-Classes</h2>
            </div>
            

            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in">

                    <div class="row g-0 bg-light position-relative">
                        <div class="col-md-6 mb-md-0 p-md-4">
                          <img src="{% static 'assets/img/images.jpg' %}" class="w-100 h-100" alt="...">
                        </div>
                        <div class="col-md-6 p-4 ps-md-0">
                          <h5 class="mt-0">Aerobic Fitness</h5>
                          <p>If you don't like exercising alone, a class can provide a supportive and encouraging environment. 
                             the instructor to show you proper form if you're new. 
                             can help you modify the exercises if you're a beginner, if necessary.</p>
                             <!--<p>Here we have equipment like treadmills, stationary bikes, and elliptical machines. 
                              And pool for you to swim laps in, too.</p>-->                      
                          <p style="color:darkgreen">Created by Niveditha.Ram on 13 Feb. 2023</p>
                          <a href="" class="btn btn-primary">Discover More</a>
                        </div>
                    </div>

                    <div class="row g-0 bg-light position-relative">
                        <div class="col-md-6 mb-md-0 p-md-4">
                          <img src="{% static 'assets/img/Fullbody.jpg' %}" class="w-100 h-100" alt="...">
                        </div>
                        <div class="col-md-6 p-4 ps-md-0">
                          <h5 class="mt-0">FullBody Fitness</h5>
                        
                          <p>Full body workouts have always been popular. The best way to accomplish this is by including. 
                             exercises are that require multi-joint movements to achieve the full range of motion. 
                            As a result, they recruit more muscles to perform resulting in a higher calorie burn and more muscle stimulation.</p>
                          <p style="color:darkgreen">Created by Niveditha.Ram on 13 Feb. 2023</p>
                          <a href="#" class="btn btn-primary">Discover More</a>
                        </div>
                    </div>

                    <div class="row g-0 bg-light position-relative">
                        <div class="col-md-6 mb-md-0 p-md-4">
                          <img src="{% static 'assets/img/Flexible.jpg' %}" class="w-100 h-100" alt="...">
                        </div>
                        <div class="col-md-6 p-4 ps-md-0">
                          <h5 class="mt-0">Flexible Fitness</h5>
                          <p>To keep your body limber and your muscles in good shape, you need to stay active and do exercises that are focused on flexibility.
                            Whether you're lifting weights or going for a run, dynamic stretching is a more beneficial warm-up exercise than static stretching.
                            While a static stretch, such as touching your toes may help you feel loose, dynamic stretching better prepares your body for the different types of movement
                          </p>
                          <p style="color:darkgreen">Created by Niveditha.Ram on 13 Feb. 2023</p>
                          <a href="#" class="btn btn-primary">Discover More</a>
                        </div>
                    </div>

            </div>

            </div>

        </div>

    

   
</main><!-- End #main -->


{% endblock 'main' %} 