{% extends 'base.html' %}
{% load static %}  


{% block 'main' %} 

<main id="main">


  <div class="container">


    <div class="row">
          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                
                      <div class="carousel-inner">

                            <div class="carousel-item active">
                          
                              <img src="{% static 'assets/img/HD1.jpg' %}"  class="d-block w-100" alt="...">
                              <div class="carousel-caption">
                                
                                  <h5 class="animated bounceInRight" style="animation-delay: 1s;">OPTIMISE YOUR HEALTH & <br>FIT YOUR BODY</h5>
                                  <p class="animated bounceInLeft d-none d-md-block" style="animation-delay: 2s;">
                                    You can always imporove your Fitness if you keep training.</p>
                                  <p class="animated bounceInRight" style="animation-delay: 1s;"><a href="/dash">Became a Member</a></p>
                                
                              </div>
                        
                            </div>

                            <div class="carousel-item">
                              <img src="{% static 'assets/img/HD3.jpg' %}"  class="d-block w-100" alt="...">
                              <div class="carousel-caption">
                                <h5 class="animated bounceInRight" style="animation-delay: 1s;">SHAPE YOUR PERFECT BODY</h5>
                                <p class="animated bounceInLeft d-none d-md-block" style="animation-delay: 2s;">
                                  Fife has no Remote. Get up and change it Yourself.</p>
                                <p class="animated bounceInRight" style="animation-delay: 1s;"><a href="/dash">Became a Member</a></p>
                              </div>
                            </div>

                            <div class="carousel-item">
                              <img src="{% static 'assets/img/HD4.jpg' %}"  class="d-block w-100" alt="...">
                              <div class="carousel-caption">
                                <h5 class="animated bounceInRight" style="animation-delay: 1s;">GET FIT AND HEALTHY</h5>
                                <p class="animated bounceInLeft d-none d-md-block" style="animation-delay: 2s;">
                                  The same voice that saya 'Give Up' can also be trained to say 'Keep Gooing'.</p>
                                <p class="animated bounceInRight" style="animation-delay: 1s;"><a href="/dash">Became a Member</a></p>
                              </div>
                            </div>

                            <div class="carousel-item">
                              <img src="{% static 'assets/img/HD8.jpg' %}"  class="d-block w-100" alt="...">
                              <div class="carousel-caption">
                                <h5 class="animated bounceInRight" style="animation-delay: 1s;">HEALTH IS WEALTH</h5>
                                <p class="animated bounceInLeft d-none d-md-block" style="animation-delay: 2s;">
                                  If it doesn't Challenge you, It doesn't Change you.</p>
                                <p class="animated bounceInRight" style="animation-delay: 1s;"><a href="/dash">Became a Member</a></p>
                              </div>
                            </div>

                      </div>

                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>

          </div>


      </div>

    </div>

  </div>

   
</main><!-- End #main -->


{% endblock 'main' %} 